{if $caption}
    <figure>
        {if $lightbox}
            <a href="{$linkSrcSet}" data-lightbox="{$lightboxGroup}">
                {$imgTag|noescape}
            </a>
        {else}
            {$imgTag|noescape}
        {/if}

        <figcaption>{$caption}</figcaption>
    </figure>
{else}
    {if $lightbox}
        <a href="{$linkSrcSet}" data-lightbox="{$lightboxGroup}">
            {$imgTag|noescape}
        </a>
    {else}
        {$imgTag|noescape}
    {/if}
{/if}