{foreach $variants as $variant}
        {if $iterator->counter > 1},{/if}
        /{$variant->getFileRelativePath()}?time={filemtime($variant->getFileRelativePath())} {$variant->getWidth()}w
{/foreach}