{varType array $variants}

{foreach $variants as $variant}
        {if $iterator->counter > 1},{/if}
        {$basePath}/{$variant->getFileRelativePath()}?time={filemtime($variant->getFilePath())} {$variant->getWidth()}w
{/foreach}